<!DOCTYPE html>{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Meus Pedidos - {% block title %}{% endblock %}</title>

    <link type="text/css" rel="stylesheet" href="{% static 'semantic/semantic.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/adicionais.css' %}"/>
    {% block extracss %}{% endblock %}
</head>
<body>

<section class="ui centered left aligned grid">
    <div class="ui blue top row"></div>

    {% include 'menu.html' %}

    {% include 'pedido_ativo_popup.html' %}

    <section class="ui row">
        <section class="ten wide column">
            {% block content %}{% endblock %}
        </section>
    </section>
</section>
</body>

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'semantic/semantic.js' %}"></script>
<script type="text/javascript" src="{% static 'js/geral.js' %}"></script>
{% block extrajs %}{% endblock %}
</html>