{% if mensagem %}
    {% if mensagem.codigo %}
        <div class="ui success message">
            <span class="header">Sucesso!</span>
    {% else %}
        <div class="ui error message">
            <span class="header">Falhou!</span>
    {% endif %}
            <i class="close icon"></i>
            <ul class="list">
                {% if form.errors %}
                    {% for field in form %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <li>
                                    <strong>{{ field.label_tag }}</strong>
                                    {{ error }}
                                </li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <li>{{ mensagem.texto }}</li>
                {% endif %}
            </ul>
        </div>
{% endif %}