<div class="ui black row">
    <div class="ten wide column">
        <nav class="ui inverted black menu">
            <a class="item" href="{% url 'index' %}">
                <i class="home icon"></i>
                Início
            </a>
            <div class="ui dropdown item">
                <i class="shop icon"></i>
                Pedidos
                <i class="dropdown icon"></i>

                <nav class="menu">
                    <a class="item" href="{% url 'novo_pedido' %}">
                        <i class="plus icon"></i>
                        Novo
                    </a>
                    <a class="item" href="{% url 'lista_pedidos' %}">
                        <i class="list layout icon"></i>
                        Lista
                    </a>
                </nav>
            </div>
            <a class="item" href="{% url 'lista_produtos' %}">
                <i class="tags icon"></i>
                Produtos
            </a>

            <div class="right floated menu">
                <a class="item" href="#">
                    <i class="info circle icon"></i>
                    Sobre
                </a>
            </div>
        </nav>
    </div>
</div>