{% if pedido_ativo and pedido_ativo != pedido %}
    <section class="ui row">
        <section class="ten wide column">
            <article class="ui right aligned segment">
                <div class="ui left floated left aligned blue header">
                    <i class="shop icon"></i>
                    <div class="content">
                        Pedido em andamento
                        <section class="sub header">
                            De <strong>{{ pedido_ativo.cliente.nome }} {{ pedido_ativo.cliente.sobrenome }}</strong>,
                            iniciado em <strong>{{ pedido_ativo.data|date:'d/m/Y - H:i' }}</strong>
                        </section>
                    </div>
                </div>
                <nav class="right menu">
                    <a class="ui right labeled icon blue button"
                       href="{% url 'visualizar_pedido' id_pedido=pedido_ativo.id %}">
                        Finalizar
                        <i class="right arrow icon"></i>
                    </a>
                </nav>
            </article>
        </section>
    </section>
{% endif %}