{% extends 'base.html' %}

{% block title %}Lista Pedidos{% endblock %}

{% block content %}
    <h2>Lista de Pedidos</h2>

    {% if pedidos %}
    <ul>
        {% for pedido in pedidos %}
        <li>
            {% if pedido.finalizado %}<strong>[Finalizado]</strong>{% endif %}
            {{ pedido.data|date }} <strong>Cliente:</strong> {{ pedido.cliente.nome }} {{ pedido.cliente.sobrenome }}
            <a href="{% url 'visualizar_pedido' id_pedido=pedido.id %}">Ver mais</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}