{% extends 'base.html' %}

{% block title %}Novo Pedido{% endblock %}

{% block content %}
    <section class="ui center aligned segment">
        <h1 class="ui centered header">
            <div class="content">
                Novo pedido
                <span class="sub header">
                    Selecione o cliente para iniciar
                </span>
            </div>
        </h1>

        {% if mensagem %}
            <span>
                <p><i>{{ mensagem.texto }}</i></p>
            </span>
        {% endif %}

        <form method="POST" action="." class="ui big form">
            {% csrf_token %}
            <section class="field">
                <label>{{ form.cliente.label }}</label>
                {{ form.cliente }}
            </section>
            <input type="submit" class="ui fluid blue submit big button" value="Continuar">
        </form>
    </section>
{% endblock %}