{% extends 'base.html' %}{% load static %}

{% block title %}
    {% if produto %}
        {{ produto.nome }}
    {% else %}
        Produto
    {% endif %}
{% endblock %}

{% block content %}

    {% include 'mensagem.html' %}

    {% if produto %}
        <section class="ui grid">
            <section class="row">
                <section class="eight wide column">
                    <section class="ui fluid card">
                        <section class="image"><img src="{% static 'imagens/default_product.jpg' %}"/></section>
                    </section>
                </section>
                <section class="eight wide column">
                    <section class="ui left aligned segment">
                        <section class="ui fluid list">
                            <div class="item">
                                <label class="ui dividing header">Produto</label>
                                <h1 class="ui header">
                                    {{ produto.nome }}
                                </h1>
                            </div>
                            <div class="item">
                                <label class="ui dividing tiny header">Descrição</label>
                                <section class="descricao">
                                    Lucas ipsum dolor sit amet kamino darth dantooine yavin luuke coruscant
                                    owen antilles hutt antilles. Moff darth skywalker darth jinn greedo cade.
                                </section>
                            </div>
                            <div class="item">
                                <label class="ui dividing tiny header">Múltiplo de Venda</label>
                                <section class="descricao">
                                    {{ produto.multiplo }} unidade(s)
                                </section>
                            </div>
                            <div class="item">
                                <label class="ui dividing tiny header">Preço unitário</label>
                                <h1 class="ui preco header">
                                    R$ {{ produto.preco_unitario }}
                                </h1>
                            </div>
                        </section>
                    </section>
                    {% if pedido_ativo and form %}
                        {% if produto not in pedido_ativo.itens.all %}
                            <article class="ui left aligned blue segment">
                                <article class="ui error quantidade hidden message">
                                    <span class="header">Quantidade inválida</span>
                                    Não respeita o valor múltiplo de venda do produto: {{ produto.multiplo }}.
                                    <i class="close icon"></i>
                                </article>

                                <form method="POST" action="{% url 'novo_item' %}" class="ui big item form">
                                    {% csrf_token %}
                                    <input type="hidden" name="produto" value="{{ produto.id }}"/>
                                    <input type="hidden" id="multiplo_de_venda" value="{{ produto.multiplo }}"/>
                                    <div class="fields">
                                        <div class="six wide quantidade field">
                                            <label>{{ form.quantidade.label }}</label>
                                            {{ form.quantidade }}
                                        </div>
                                        <div class="ten wide field">
                                            <label>{{ form.preco.label }} em R$</label>
                                            {{ form.preco }}
                                        </div>
                                    </div>
                                    <input type="submit" class="ui blue submit fluid big button"
                                           value="Adicionar ao pedido">
                                </form>
                            </article>
                        {% else %}
                            <section class="ui center aligned segment">
                                <article class="ui blue centered header">
                                    <section class="content">
                                        Adicionado ao Pedido
                                        <section class="sub header">
                                            <a href="{% url 'visualizar_pedido' id_pedido=pedido_ativo.id %}">Ver
                                                pedido</a>
                                        </section>
                                    </section>
                                </article>
                                <div class="ui divider"></div>
                                <a href="{% url 'excluir_item' id_item=item.id %}"
                                   class="ui red button" title="Excluir">
                                    <i class="remove icon"></i>
                                    Remover
                                </a>
                                <a href="{% url 'visualizar_item' id_item=item.id %}"
                                   class="ui icon blue button" title="Editar">
                                    <i class="configure icon"></i>
                                    Editar Item
                                </a>
                            </section>
                        {% endif %}
                    {% endif %}
                </section>
            </section>
        </section>
    {% endif %}
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{% static 'js/controle_multiplo.js' %}"></script>
{% endblock %}