{% extends 'base.html' %}

{% block title %}Visualizar Pedido{% endblock %}

{% block content %}
    <h2>Pedido {{ pedido.id }}</h2>

    <ul>
    {% for item in itens %}
        <li>
            Nome: {{ item.produto.nome }} <br />
            Quantidade: {{ item.quantidade }} <br />
            Preço Unitário: R$ {{ item.preco }} <br />
            Rentabilidade:
            {% if item.rentabilidade == 2 %}
                Ótima
            {% elif item.rentabilidade == 1 %}
                Boa
            {% else %}
                Ruim
            {% endif %}
            <br />
            {% if not item.pedido.finalizado %}
                <a href="{% url 'excluir_item' id_item=item.id %}">Excluir</a> -
                <a href="{% url 'visualizar_item' id_item=item.id %}">Editar</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>

    {% if not pedido.finalizado %}
        {% if pedido == pedido_ativo %}
        <p>
            <a href="{% url 'lista_produtos' %}">Adicionar Itens</a> |
            <a href="{% url 'cancelar_pedido' %}">Cancelar</a> |
            {% if pedido.itens.all|length > 0 %}
            <a href="{% url 'finalizar_pedido' %}">Finalizar</a>
            {% endif %}
        </p>
        {% else %}
        <p>
            <a href="{% url 'continuar_pedido' id_pedido=pedido.id %}">Continuar Pedido</a>
        </p>
        {% endif %}
    {% endif %}
{% endblock %}