{% extends 'base.html' %}

{% block title %}
    {% if produto %}
        {{ produto.nome }}
    {% else %}
        Produto
    {% endif %}
{% endblock %}

{% block content %}
    {% if produto %}
        {% if mensagem %}
        <span>
            <p><i>{{ mensagem.texto }}</i></p>
            {% if mensagem.codigo == False %}
                {{ form.errors }}
            {% endif %}
        </span>
        {% endif %}

        <h1>{{ produto.nome }}</h1>

        <p>Preço unitário do Produto: {{ produto.preco_unitario }}</p>
        <p>Múltiplo: {% if produto.multiplo %}{{ produto.multiplo }}{% else %}Não possui{% endif %}</p>

        {% if pedido_ativo and item_form %}
        <h2>Adicionar ao Pedido</h2>
        <form method="POST" action="{% url 'novo_item' %}">{% csrf_token %}
            <input type="hidden" name="produto" value="{{ produto.id }}"/>
            {{ item_form.as_p }}
            <input type="submit">
        </form>
        {% endif %}
    {% endif %}
{% endblock %}