{% extends 'base.html' %}{% load static %}

{% block title %}Visualizar Item{% endblock %}

{% block content %}
    {% include 'mensagem.html' %}

    <section class="ui grid">
        <section class="row">
            <section class="eight wide column">
                <section class="ui left aligned segment">
                    <h1 class="ui header">
                        <div class="content">
                            Detalhes
                            <span class="sub header">informações sobre o item</span>
                        </div>
                    </h1>

                    <h3 class="ui header">
                        <i class="tag icon"></i>
                        <div class="content">
                            {{ item.produto.nome }}
                            <span class="sub header">Produto</span>
                        </div>
                    </h3>

                    <h3 class="ui header">
                        <i class="shop icon"></i>
                        <div class="content">
                            {{ item.pedido.cliente.nome }} {{ item.pedido.cliente.sobrenome }}
                            em {{ item.pedido.data|date:"d/m/Y" }}
                            <span class="sub header">Pedido</span>
                        </div>
                    </h3>

                    <h3 class="ui header">
                        <i class="list layout icon"></i>
                        <div class="content">
                            {{ item.quantidade }} unidade(s)
                            <span class="sub header">Quantidade</span>
                        </div>
                    </h3>

                    <h3 class="ui header">
                        <i class="dollar icon"></i>
                        <div class="content">
                            R$ {{ item.preco }}
                            <div class="sub header">Preço</div>
                        </div>
                    </h3>

                    {% if item.rentabilidade == 2 %}
                        <h3 class="ui teal header">
                    {% elif item.rentabilidade == 1 %}
                        <h3 class="ui blue header">
                    {% else %}
                        <h3 class="ui red header">
                    {% endif %}
                    <i class="percent icon"></i>
                    <div class="content">
                        {% if item.rentabilidade == 2 %}
                            Ótima
                        {% elif item.rentabilidade == 1 %}
                            Boa
                        {% else %}
                            Ruim
                        {% endif %}
                        <span class="sub header">Rentabilidade</span>
                    </div>
                    </h3>
                </section>
            </section>
            <section class="eight wide column">
                {% if not item.pedido.finalizado and pedido_ativo == item.pedido %}
                    <section class="ui left aligned segment">
                        <h1 class="ui header">
                            <div class="content">
                                Editar
                                <span class="sub header">Ajuste as informações do item</span>
                            </div>
                        </h1>

                        {% if pedido_ativo and form %}
                            <article class="ui error quantidade hidden message">
                                <span class="header">Quantidade inválida</span>
                                Não respeita o valor múltiplo de venda do produto: {{ item.produto.multiplo }}.
                                <i class="close icon"></i>
                            </article>

                            <form method="POST" action="{% url 'editar_item' id_item=item.id %}"
                                  class="ui big item form">
                                {% csrf_token %}
                                <input type="hidden" id="multiplo_de_venda" value="{{ item.produto.multiplo }}"/>
                                <div class="fields">
                                    <div class="six wide quantidade field">
                                        <label>{{ form.quantidade.label }}</label>
                                        {{ form.quantidade }}
                                    </div>
                                    <div class="ten wide field">
                                        <label>{{ form.preco.label }} em R$</label>
                                        {{ form.preco }}
                                    </div>
                                </div>
                                <input type="submit" class="ui blue submit fluid big button" value="Salvar Pedido">
                            </form>
                        {% endif %}
                    </section>
                {% else %}
                    <div class="ui warning message">
                        <span class="header">Edição desabilitada!</span>
                        Para realizar alterações no item é preciso estar com o pedido ativo!
                    </div>
                {% endif %}

                <a class="ui teal button" href="{% url 'visualizar_pedido' id_pedido=item.pedido.id %}">
                    <i class="shop icon"></i>
                    Pedido
                </a>
                <a class="ui teal button" href="{% url 'visualizar_produto' id_produto=item.produto.id %}">
                    <i class="tag icon"></i>
                    Produto
                </a>
                {% if not item.pedido.finalizado and pedido_ativo == item.pedido %}
                    <a class="ui red button" href="{% url 'excluir_item' id_item=item.id %}?destino=pedido">
                        <i class="remove icon"></i>
                        Remover
                    </a>
                {% endif %}
            </section>
        </section>
    </section>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{% static 'js/controle_multiplo.js' %}"></script>
{% endblock %}