.ui.top.row {
    padding: 10px;
}

.pedido.situacao.aberto {
    color: #d72b28 !important;
}

.pedido.situacao.finalizado {
    color: #2c82cd !important;
}

.descricao {
    margin: 10px 0px 10px 0px;
}

.preco.header {
    font-size: 40px !important;
}

.ui.rentabilidade.label {
    color: #fff!important;
}

.ui.rentabilidade.otima.label {
    background: #23b4ac!important;
}

.ui.rentabilidade.boa.label {
    background: #2c82cd!important;
}

.ui.rentabilidade.ruim.label {
    background: #d72b28!important;
}
